<h1>Add Movie</h1>

<form method="POST" action="/movies">
  <input name="title" placeholder="Title" required />
  <input name="genre" placeholder="Genre" />
  <input name="releaseYear" type="number" />
  <button>Add</button>
</form>

<a href="/movies">Cancel</a>